@import url('http://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.break {
    clear: both;
}

#wallpaper1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url("../img/wallpaper1.png");
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.5);
}

#wallpaper2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    background-image: url("../img/wallpaper2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#logo {
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    margin: 30px 0 30px -50px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
}

.message {
    width: 1000px;
    height: auto;
    position: relative;
    left: 50%;
    margin: 0 0 30px -500px;
    padding: 0;
    text-align: justify;
    color: white;
}

.message h1 {
    text-align: center;
    margin: 0;
}

.message h2 {
    text-align: center;
    margin: 0;
}

.message a{
    color: white;
}

.column {
    width: 300px;
    height: auto;
    float:left;
}

#col-center{
    margin:0 50px;
}

#social {
    width: 1000px;
    height: auto;
    position: relative;
    left: 50%;
    margin: 0 0 30px -500px;
    padding: 0;
    text-align: center;
}

.button {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-right: 30px;
    border-radius: 45px;
}

#facebook {
    background-image: url("../img/facebook.jpg");
    background-repeat: no-repeat;
}

#twitter {
    background-image: url("../img/twitter.jpg");
    background-repeat: no-repeat;
}

#pinterest {
    background-image: url("../img/pinterest.jpg");
    background-repeat: no-repeat;
}

#youtube {
    background-image: url("../img/youtube.jpg");
    background-repeat: no-repeat;
}

#google {
    background-image: url("../img/google.jpg");
    background-repeat: no-repeat;
}